body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.right {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligner les éléments en haut */
  align-items: center; /* Centrer les éléments horizontalement */
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}

.logo {
  width: 300px; 
  height: 200px; 
  overflow: hidden; /* Masque tout contenu qui dépasse le cercle */
  margin-bottom: 0; /* Marge en bas pour l'espace */
  margin-top: 20px; /* Marge en haut pour aligner le logo en haut */
}

.image {
  width: 80%; /* Largeur de l'image */
  height: auto; /* Hauteur automatique pour maintenir le ratio */
  margin-bottom: 20px; /* Marge en bas pour l'espace */
}

.form-group {
  margin-bottom: 20px;
}

.left {
  flex: 1;
  background-color: #013461;
  padding: 20px;
  color: #44d121;
  display: flex; /* Utilisation de flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

.display {
  width: 90%;
  display: block; /* Assure que l'élément img se comporte comme un bloc */
  margin: auto; /* Centre l'élément horizontalement */
  border-radius: 10px;
}

